<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Surname:</b>
  <%= @employee.surname %>
</p>

<p>
  <b>Id number:</b>
  <%= @employee.id_number %>
</p>

<p>
  <b>Wage:</b>
  <%= @employee.wage %>
</p>

<p>
  <b>Role:</b>
  <%= @employee.role %>
</p>

<p>
  <b>Hotel:</b>
  <%= @employee.hotel.name %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
